<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./static/style.css">
    <title>Final assignment</title>
    <script src="static/jquery-3.2.1.min.js"></script>
    <script
      type="text/javascript"
      src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.min.js"
    ></script>
    <script
      type="text/javascript"
      src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.min.js"
    ></script>
    <script src="static/jquery-ui.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
      $(document).ready(() => {
        var x = new Array();
        var y = new Array();
        var z = new Array();
        let amplitude = 1;
        var trace;
        var layout;
        namespace = "/test";
        var socket = io.connect(
          location.protocol +
            "//" +
            document.domain +
            ":" +
            location.port +
            namespace
        );

        socket.on("connect", () => {
          socket.emit("my_event", { data: "I'm connected!" });
        });

        socket.on("my_data", (msg) => {
          $("#log")
            .append(
              "Data #" +
                msg.count +
                " Humidity: " +
                msg.humidity +
                " Temperature: " +
                msg.temperature +
                "<br>"
            )
            .html();
          x.push(parseFloat(msg.count));
          y.push(parseFloat(msg.humidity));
          z.push(parseFloat(msg.temperature));
          trace = {
            x: x,
            y: y,
            name: "Humidity",
          };
          second_trace = {
            x: x,
            y: z,
            name: "Temperature",
          };
          layout = {
            title: "Data",
            xaxis: {
              title: "x",
            },
            yaxis: {
              title: "y",
            },
          };
          console.log(trace);

          var traces = new Array();
          traces.push(trace, second_trace);
          Plotly.newPlot($("#plotdiv")[0], traces, layout);
          var data_humidity = [
            {
              domain: { x: [0, 1], y: [0, 1] },
              value: parseFloat(msg.humidity),
              title: { text: "Humidity" },
              type: "indicator",
              mode: "gauge+number",
              delta: { reference: 400},
              gauge: { axis: { range: [0, 100 * amplitude] }, bar: {color: "rgb(255, 99, 132, 0.5)"} },
            },
          ];

          layout = { width: 400, height: 400 };
          Plotly.newPlot("humidity", data_humidity, layout);

          var data_temperature = [
            {
              domain: { x: [0, 1], y: [0, 1] },
              value: parseFloat(msg.temperature),
              title: { text: "Temperature" },
              type: "indicator",
              mode: "gauge+number",
              delta: { reference: 400 },
              gauge: { axis: { range: [0, 50 * amplitude] }, bar: {color: "rgb(255, 99, 132, 0.5)"} },
            },
          ];

          layout = { width: 400, height: 400 };
          Plotly.newPlot("temperature", data_temperature, layout);
        });

        socket.on("my_response", (msg) => {
          console.log(msg.data);
          $("#log")
            .append(msg.data + "<br>")
            .html();
        });

        $("form#emit").submit((event) => {
          amplitude = $("#emit_value").val();
          socket.emit("my_event", { value: $("#emit_value").val() });
          return false;
        });
        $("form#disconnect").submit((event) => {
          socket.emit("disconnect_request");
          return false;
        });
        $("#buttonVal").click((event) => {
          console.log($("#buttonVal").val());
          socket.emit("click_event", { value: $("#buttonVal").val() });
          return false;
        });
        $("#start").click((event) => {
          console.log($("#start").val());
          socket.emit("click_event", { value: $("#start").val() });
          return false;
        });
        $("#open").click((event) => {
          console.log($("#open").val());
          socket.emit("initialize");
          return false;
        });
      });
    </script>
  </head>
  <body>
    <div id="tabs">
      <div id="tabs-1">
        <h2>Amplitude</h2>
        <form id="emit" method="POST" action="#">
          <input
            type="text"
            name="emit_value"
            id="emit_value"
            placeholder="Amplituda"
          />
          <input type="submit" value="Send" id="send"/>
        </form>
      </div>
      <form id="disconnect" method="POST" action="#">
        <input type="submit" value="Disconnect" id="disc"/>
      </form>
      <button id="start" type="submit" value="start">Start</button>
      <button id="open" type="submit" value="open">Open</button>
      <button id="buttonVal" type="submit" value="stop">Stop</button>
      <div id="tabs-4">
        <h2>Receive:</h2>
        <div id="container_log">
          <div id="log"></div>
        </div>
      </div>
      <div id="tabs-2">
        <div id="plotdiv" style="width: 600px; height: 250px"></div>
      </div>
      <div id="container_humidity">
        <div id="humidity"></div>
      </div>
      <div id="container_temperature">
        <div id="temperature"></div>
    </div>
  </body>
</html>
